<div>
    <h1>Componente Listado no ruteable</h1>
</div>


else
{
@*    <input type="checkbox" @onchange="@(() => MostrarBoton = !MostrarBoton)"/> Con funciones lambda*@
    <input type="checkbox" @bind="@(MostrarBoton)" />
    <span>Mostar Botones</span>
    <div>
        <h1>Ingresos</h1>
        @foreach (var ingreso in ingresos)
        {
         <GastoIndividual 
             Ingreso="ingreso" 
             MostrarBoton="MostrarBoton"
            EliminarIngreso="EliminarIngreso"
         >
        </GastoIndividual>
        }
    </div>
}

@code {

    [Parameter]
    [EditorRequired]
    public List<Ingresos>? ingresos { get; set; }



    bool MostrarBoton = false;

    private void EliminarIngreso(Ingresos ingreso)
    {
        Console.WriteLine($"Eliminando ingreso {ingreso.descripcion}");
        ingresos.Remove(ingreso);
    }
}
