@page "/"
@inject IGasto gasto

<PageTitle>Blazor Gastos</PageTitle>
<HeadContent>
    <meta name="description" content="Página para visualizar gastos"/>
</HeadContent>

<div>
    <h1>Ingresos Index</h1>
    <ListadoIngresos ingresos="gasto.ObtenerListaIngresos()">
        @*<Cargando>Cargando el listado de ingresos.</Cargando>*@
        @*<NoHayIngresos> No hay Registros.</NoHayIngresos>*@
    </ListadoIngresos>
</div>

@*<div>
    <h2>Ejemplo Input</h2>
    <EjemploInputParametroArbitrario placeholder="Descripción"></EjemploInputParametroArbitrario>
</div>
*@
<BindEvento></BindEvento>
<BindGetSet></BindGetSet>
<BindAfter></BindAfter>

@code{
  
}